.barra-navegacao{
    background-color: purple;
    text-align: center;
}

.barra-navegacao-logotipo{
    text-align: center;
    
}

.rodape{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.linha{
  col
}

but